@import "tailwindcss";

/* Minimalist Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #070708;
}
::-webkit-scrollbar-track {
  background: #070708;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}
body.is-scrolling::-webkit-scrollbar-thumb,
body.is-scrolling ::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: #2c2c2a;
}